.product-card {
  overflow: hidden;
  border-radius: var(--cornerRadius);
  box-shadow: 2px 2px 4px rgba(9, 0, 31, 0.1);
  background: white;

  &--no-stock {
    background: rgb(240, 240, 240);
    filter: grayscale(1);
    opacity: 0.7;
  }

  &__image {
    width: 100%;
    height: auto;
  }

  &__details {
    padding: 5px 15px 10px;
    display: grid;
    gap: 0 0.5em;
    grid-template: "name name" auto "price actions" auto / 1fr auto;
    align-items: stretch;
  }

  &__title {
    white-space: nowrap;
    grid-area: name;
    line-height: 2;
    overflow: hidden;
    text-overflow: ellipsis;

    .product-card--no-stock & {
      grid-template-columns: auto auto;
      display: grid;
    }
  }

  &__name {
    overflow: hidden;
    max-width: 100%;
    text-overflow: ellipsis;
  }

  &__stock-status {
    font-weight: bold;
    font-style: italic;
  }

  &__price {
    grid-area: price;
    align-self: center;
  }

  &__actions {
    display: flex;
    grid-area: actions;
    max-width: 100px;
    justify-self: end;
    .product-card--no-stock & {
      pointer-events: none;
    }
  }

  &__quantity {
    flex: 1;
    margin-right: 5px;
  }

  &__button {
    flex: 1;
    border: 0;
    background-color: rgb(184, 212, 117);
    border-radius: var(--cornerRadius);
    cursor: pointer;
    transition: background-color 0.1s ease;

    &:hover,
    &:focus {
      background-color: rgb(157, 209, 107);
    }

    &:active {
      background-color: rgb(116, 190, 87);
    }

  }
}
