
.cart {
  min-width: 400px;
  position: relative;
  padding-bottom: 10rem;

  @media screen and (min-width: 805px) {
    max-height: calc(100vh - var(--spacingL) * 2);
    top: var(--spacingM);
    position: sticky;
  }
}

.cart-items-container {
  overflow-y: auto;
  scrollbar-width: thin;
  padding-right: var(--spacingM);
  margin-right: calc(-1 * var(--spacingM));
  @media screen and (min-width: 805px) {
    max-height: calc(100vh - 10rem - var(--spacingL) * 2 - var(--spacingL) * 2);
  }
}

.cart-list {
  --cartGap: var(--spacingM);
  margin: calc(-1 * var(--cartGap)) 0;
}

.cart-item {
  display: flex;
  min-height: 4rem;
  align-items: center;
  background: white;
  border-radius: var(--cornerRadius);
  box-shadow: 2px 2px 4px rgba(9, 0, 31, 0.1);
  padding: var(--spacingS);
  margin: var(--cartGap) 0;

  &__controls {
    position: relative;
    margin: 0 var(--spacingS);
  }

  &__quantity {
    width: 8ch;
  }

  &__image {
    width: 15%;
    height: auto;
    max-height: 50px;
    object-fit: contain;
  }

  &__link {
    position: absolute;
    top: 95%;
    left: 0;
    right: 0;
    text-align: center;
    background: none;
    border: none;
    text-decoration: none;
    padding: 0 2px;
    text-transform: lowercase;
    font-size: 0.9rem;
    margin: 0;
    font-family: inherit;
    color: var(--brandColorDark);
    cursor: pointer;
  }

  &__name {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 var(--spacingS);
  }

  &__price {
    min-width: 9ch;
    white-space: nowrap;
    text-align: right;
    &-total {
      font-weight: bold;
    }
    &-per {
      font-size: 0.75em;
      &--hidden {
        visibility: hidden;
      }
    }
  }
}

.cart-cta {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  border-radius: 0 0 var(--cornerRadius) var(--cornerRadius);
  overflow: hidden;

  &__price-section {
    display: flex;
    align-items: baseline;
    padding: var(--spacingM);
  }

  &__price {
    margin-left: auto;
    font-size: 1.5rem;
    font-weight: bold;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: normal;
  }

  &__subtext {
    font-size: 1rem;
    opacity: 0.8;
    font-weight: normal;
  }

  &__button {
    width: 100%;
    padding: var(--spacingS);
    font-size: 1.5rem;
    border: none;
    background-color: rgb(184, 212, 117);
    cursor: pointer;
    transition: background-color 0.1s ease;

    &:hover,
    &:focus {
      background-color: rgb(157, 209, 107);
    }

    &:active {
      background-color: rgb(116, 190, 87);
    }
  }
}
