.app-container {
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-end;
  padding: var(--spacingM) var(--spacingM);
}

.product-list {
  order: 1;
  flex: 2;
}

.cart {
  order: 2;
  flex: 1;
}

.box {
  background: var(--componentBackground);
  padding: var(--spacingL);
  border-radius: var(--cornerRadius);
  margin: var(--spacingM) var(--spacingS);
}