.app-container {
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 1200px;
  margin: 0 auto;
  align-items: flex-end;
  padding: var(--spacingL) var(--spacingM);
}

.product-list {
  order: 1;
  flex: 2;
  min-width: 325px;
  border-radius: var(--cornerRadius);
}

.cart-list {
  order: 2;
  flex: 1;
  min-width: 375px;

  @media screen and (min-width: 788px) {
    top: var(--spacingM);
    position: sticky;
  }
}

.box {
  background: var(--componentBackground);
  padding: var(--spacingL);
  border-radius: var(--cornerRadius);
  margin: var(--spacingS);
}